// **************************************
// BASE STYLES
// **************************************

@use "../utilities" as *;

/*-----BASE GLOBAL STYLES------*/
* {
  box-sizing: border-box;
}

html {
  font-size: var(--fp-f-size-normal);
}

html,
body {
  @extend %body-properties;
}

/* 
**OPTIONAL**
To keep component based projects from touching the sides of the viewport only*/
body {
  width: calc(100% - 1rem);
  margin-inline: auto;
  background-image: url(../../images/bg-intro-mobile.png);
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-color: var(--clr-primary-error);
  @include mq("md") {
    background-image: url(../../images/bg-intro-desktop.png);
  }
}

p {
  @extend %text-modules;
}

a {
  @extend %link-properties;
}
