// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--fp-font-main);
}

:is(.title__primary, .content) {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}

//h1 styles
.title__primary {
  @extend %text-modules;
  @include text-prop(
    $size: clamp(1.1rem, 6vw, 3rem),
    $f-weight: var(--fp-f-weight-very-bold),
    $l-height: 1.2,
    $color: var(--clr-light-normal)
  );
  padding: 1rem 1.5rem 1.3rem;
}

/*----CONTENT STYLES----*/

.content {
  @include text-prop(
    $size: clamp(0.8rem, 3vw, 1.3rem),
    $f-weight: var(--fp-f-weight-normal),
    $color: var(--clr-light-normal)
  );

  &__btn {
    @include text-prop(
      $size: px-to-rems(10px),
      $f-weight: var(--fp-f-weight-very-bold)
    );
  }
  &__body {
    @include text-prop(
      $size: clamp(0.5rem, 3vw, 0.7rem),
      $f-weight: var(--fp-f-weight-medium),
      $color: var(--clr-text-normal)
    );
    padding: 1rem;
    text-align: center;
    @include mq("md") {
      font-size: px-to-rems(10px);

      padding: 0 1rem;
    }
  }
  &__intro {
    @extend .content;
    padding: 0rem 1rem 3rem;
    line-height: 1.6;
    @include mq("md") {
      padding: 0rem 1.3rem;
      font-size: px-to-rems(15px);
    }
  }
  &__terms {
    color: var(--clr-primary-error);
  }
}
